@import "../base/theme";
@import "../base/mixins";

.btn {
  border-radius: 8px;
  line-height: 1;
  font: {
    size: 16px;
    weight: 600;
  }
  transition-duration: .25s;
  &:hover {
    @include respond-to(desktop) {
      box-shadow: $btn-shadow;
    }
  }
  &:disabled {
    color: rgba($white, .5);
  }
}
.btn-danger {
  padding: 8px 16px;
  background-color: $danger-default-color;
  color: $white;
  font: {
    weight: 400;
  };
  @include respond-to-max(mobile-end) {
    font-size: 12px;
  }
  &:hover {
    @include respond-to(desktop) {
      background-color: $danger-hover-color;
      box-shadow: $btn-danger-shadow;
    }
  }
  &:active {
    background-color: $danger-active-color;
  }
  &:disabled {
    background-color: $danger-hover-color;
  }
}
.btn-primary {
  padding: 14px 16px;
  color: $white;
  background-color: $primary-default-color;
  &:hover {
    @include respond-to(desktop) {
      background-color: $primary-hover-color;
    }
  }
  &:active {
    background-color: $primary-active-color;
  }
}
.btn-secondary {
  padding: 14px 16px;
  color: $white;
  background-color: $secondary-default-color;
  &:hover {
    @include respond-to(desktop) {
      background-color: $secondary-hover-color;
    }
  }
  &:active {
    background-color: $secondary-active-color;
  }
  &:disabled {
    background-color: $secondary-hover-color;
    color: rgba($white, .5);
  }
}
.btn-outline {
  display: inline-block;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid $blue-400;
  white-space: nowrap;
  font: {
    size: 12px;
    weight: 400;
  }
  line-height: 16px;
  color: $primary-text-color;
  &.active {
    &:after {
      transform: rotate(180deg);
    }
  }
  &:hover {
    @include respond-to(desktop) {
      background-color: $outline-hover-color;
      border-color: $outline-hover-color;
    }
  }
  &:active {
    background-color: $outline-active-color;
  }
  &:disabled {
    background-color: $outline-disabled-color;
    color: $gray-200;
  }
  &.btn-chat {
    width: 100%;
    @include respond-to-max(mobile-end) {
      border-color: $blue-200;
      color: $primary-text-color;
    }
    @include respond-to(tablet) {
      position: fixed;
      right: 16px;
      bottom: 24px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: $blue-400;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23FFFFFE' d='M4.127 21.6c-.45 0-.887-.177-1.217-.508a1.716 1.716 0 0 1-.42-1.765l.827-2.462c.096-.302.088-.606-.025-.845A9.59 9.59 0 0 1 2.403 12c0-5.293 4.306-9.6 9.598-9.6 5.294 0 9.6 4.306 9.6 9.6 0 5.293-4.306 9.599-9.6 9.599a9.577 9.577 0 0 1-4.012-.886c-.245-.117-.55-.125-.861-.026l-2.451.823c-.182.06-.368.09-.55.09ZM12 3.877c-4.478 0-8.12 3.643-8.12 8.122 0 1.165.258 2.338.748 3.392.271.572.307 1.26.093 1.933l-.83 2.472a.238.238 0 0 0 .062.252.24.24 0 0 0 .253.063l2.46-.826c.683-.218 1.373-.184 1.951.093a8.085 8.085 0 0 0 3.383.745c4.48 0 8.122-3.643 8.122-8.123 0-4.479-3.643-8.123-8.122-8.123Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 2;
      text-indent: -9999px;
    }
    &:hover {
      @include respond-to(tablet) {
        background-color: $blue-300;
        border-color: $blue-300;
      }
    }
  }
}
.btn-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  &:after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.4 11.2a.504.504 0 0 1-.356-.145L3.348 6.444a.488.488 0 0 1 0-.7.51.51 0 0 1 .711 0L8.4 10.008l4.34-4.262a.51.51 0 0 1 .713 0 .488.488 0 0 1 0 .699l-4.697 4.611a.51.51 0 0 1-.356.145Z' fill='%231C3F64'/%3E%3C/svg%3E");
    transition-duration: .25s;
  }
}
.btn-copy {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.184 14.4H6.441c-1.43 0-2.216-.786-2.216-2.215V6.44c0-1.429.787-2.215 2.216-2.215h5.743c1.43 0 2.216.786 2.216 2.215v5.744c0 1.429-.787 2.215-2.216 2.215ZM6.441 5.21c-.875 0-1.231.357-1.231 1.231v5.744c0 .874.356 1.23 1.23 1.23h5.744c.875 0 1.231-.356 1.231-1.23V6.44c0-.874-.356-1.23-1.23-1.23H6.44ZM2.584 9.97V3.814c0-.874.357-1.23 1.231-1.23h6.154a.492.492 0 0 0 0-.985H3.815C2.386 1.6 1.6 2.386 1.6 3.815V9.97a.492.492 0 0 0 .984 0Z' fill='%236D6D6D'/%3E%3C/svg%3E");
}
.btn-clear {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%238EA7BD' d='M10 1.042C5.06 1.042 1.042 5.06 1.042 10c0 4.94 4.018 8.958 8.958 8.958S18.958 14.94 18.958 10c0-4.94-4.018-8.958-8.958-8.958Zm0 16.666c-4.25 0-7.708-3.457-7.708-7.708 0-4.25 3.457-7.708 7.708-7.708 4.25 0 7.708 3.457 7.708 7.708 0 4.25-3.457 7.708-7.708 7.708Zm2.942-9.766L10.883 10l2.059 2.058a.625.625 0 0 1-.884.885L10 10.884l-2.058 2.059a.623.623 0 0 1-.884 0 .625.625 0 0 1 0-.885L9.117 10 7.058 7.942a.625.625 0 1 1 .885-.884L10 9.116l2.058-2.058a.625.625 0 1 1 .883.884Z'/%3E%3C/svg%3E");
}