.icon-check {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath fill='%2312B76A' d='M8 1C4.14 1 1 4.14 1 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7Zm0 13.023A6.03 6.03 0 0 1 1.977 8 6.03 6.03 0 0 1 8 1.977 6.03 6.03 0 0 1 14.023 8 6.03 6.03 0 0 1 8 14.023Zm2.624-7.888c.191.19.191.5 0 .691L7.585 9.865a.487.487 0 0 1-.69 0l-1.52-1.52a.489.489 0 0 1 .692-.69L7.24 8.829l2.693-2.693c.19-.191.5-.191.69 0Z'/%3E%3C/svg%3E");
}
.icon-error {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 19c-4.963 0-9-4.037-9-9s4.037-9 9-9 9 4.037 9 9-4.037 9-9 9Zm0-16.744c-4.27 0-7.744 3.473-7.744 7.744 0 4.27 3.473 7.744 7.744 7.744 4.27 0 7.744-3.473 7.744-7.744 0-4.27-3.473-7.744-7.744-7.744Zm.854 10.674a.837.837 0 0 0-.837-.837h-.009a.834.834 0 0 0-.833.837c0 .462.38.837.842.837a.837.837 0 0 0 .837-.837Zm-.226-2.87V6.232a.628.628 0 0 0-1.256 0v3.827a.628.628 0 0 0 1.256 0Z' fill='%23DD5368'/%3E%3C/svg%3E");
}