.input-copy {
  position: relative;
  .btn-copy {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
  .icon-first {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    + .custom-input {
      padding-left: 36px;
    }
  }
}