@import "../base/theme";
@import "../base/mixins";

.show-more {
  .btn {
    width: 100%;
  }
  .collapsible {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .4s;
    pointer-events: none;
    &.is-open {
      margin-top: 8px;
      opacity: 1;
      pointer-events: auto;
    }
  }
  .inner {
    padding: 8px;
    border: 1px solid $blue-100;
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}