@import "../base/theme";
@import "../base/mixins";

.time {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $gray-100;
  width: 76px;
  @include respond-to-max(mobile-end) {
    font-size: 12px;
  }
}