@import "../base/theme";
@import "../base/mixins";

.statuses {
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-shadow: $primary-shadow;
  border-radius: 8px;
  text-align: center;
  @include respond-to(tablet) {
    min-height: 330px;
    font-size: 24px;
    line-height: 32px;
  }
  .img {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
    @include respond-to(tablet) {
      width: 180px;
      height: 180px;
    }
    svg img {
      width: 100%;
      height: 100%;
    }
    &.loader-img {
      img {
        animation: rotate 1.5s normal linear infinite;
      }
    }
  }
  .label {
    @include respond-to(tablet) {
      font-size: inherit;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}